:root {
    --size: 6;
  }

#chessboard {
    display: grid;
    grid-template-columns: repeat(var(--size), 100px);
    grid-template-rows: repeat(var(--size), 100px);
    width: var(--size) * 100px;
    height: var(--size) * 100px;
}

#chessboard .tile {
    width: 100px;
    height: 100px;
}
